* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #413d4b;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 963px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Intro*/

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../img/intro.jpg') no-repeat center;
  background-size: cover;
}

.intro-button {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.intro-main-text {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.intro-main-text::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  position: absolute;
  top: 80px;
  left: 420px;
  z-index: 1;
}

.intro-text {
  color: #ffffff;
  text-align: center;
  margin: 60px 0 50px;
}

.intro-title {
  padding: 20px;
}

.intro-slider {
  color: #ffffff;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 107px;
}

.intro-slider-item {
  margin: 0 auto;
}

.intro-slider-wrapper {
  width: 220px;
  margin: 0 auto;
}

.slider-item {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin: 3px;
  font-size: 0;
}

.slider-item:hover {
  background-color: #00e0d0;
  border: none;
  cursor: pointer;
}
 
.slider-item.active {
  background-color: #00e0d0;
  border: none;
}

/*Header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header.fixed {
  position: fixed;
  background-color: #382c5a;
}

.list {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  height: 58px;
  display: flex;
  align-items: center;
}

.list-item {
  color: #ffffff;
  padding-left: 23px;
  white-space: nowrap;
}

.list-item:hover {
  color: #00e0d0;
  transition: color 0.2s linear;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

/*Nav-toggle*/

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/*Story*/

.story {
  padding-top: 70px;
}

.story-text {
  padding-bottom: 30px;
}

.story-text-title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 30px;
}

.story-title {
  margin-left: 100px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
}

/*Expertise*/

.expertise {
  padding: 70px 0 100px;
}

.expertise-header {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 22px;
  color: #413d4b;
  text-align: center;
  margin-bottom: 8px;
}

.expertise-text {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #2f2d35;
  text-align: center;
}

.expertise-title {
  position: relative;
}

.expertise-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #c6c4c97e;
  position: absolute;
  top: 130%;
  left: 47.3%;
  z-index: 1;
}

.menu-content {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: space-around;
}

.menu-item {
  max-width: 260px;
  text-align: center;
}

.menu-text-title {
  font-weight: bold;
  margin: 25px 0 15px;
}

.menu-text {
  color: #333333;
  align-self: center;
}


/*Video*/

.play-button {
  cursor: pointer;
}

.play-button:hover img {
  transform: scale(1.1);
  transition: transform 0.1s linear;
  background-color: #ffffff8a;
  border-radius: 50px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  background: url('../img/video.png') no-repeat center;
  background-size: cover;
}

.video-play {
  text-align: center;
}

.video-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
}


/*Team*/

.team {
  padding: 70px 0;
  width: 100%;
  background: url('../img/wood.jpg') no-repeat center;
  background-size: cover;
}

.team-footer {
  text-align: center;
  margin-top: 70px;
}

.team-footer-text {
  color: #ffffff;
  font-weight: lighter;
  margin-bottom: 20px;
}

.team-item {
  width: 25%;
  padding: 0 20px;
}

.team-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-kind {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #fafafa7c;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}


.team-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.team-person {
  display: flex;
  max-width: 100%;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #7b788f;
}

.white {
  color: #ffffff;
  font-weight: lighter;
}

.intro-button.team-button {
  width: 140px;
}

/*Our works*/

.our-works {
  padding: 70px 0;
}

.our-works_header {
  display: flex;
  justify-content: space-between;
}

.our-works_list {
  display: flex;
}

.our-works_main {
  padding: 70px 0;
}

.our-works_title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 22px;
  color: #413d4b;
}

.works-button {
  text-align: center;
}

.works_img {
  width: 100%;
  height: 100%;
}

.works-item {
  flex: 1 1 0;
}

/*Feedback*/

.feedback {
  padding: 70px 0;
  width: 100%;
  background: url('../img/feedback.jpg') no-repeat center;
  background-size: cover;
}

.feedback-header {
  text-align: center;
  margin-bottom: 40px;
}

.feedback-man_wrapper {
  display: block;
  width: 45px;
  height: 45px;
}

.feedback-man_wrapper img {
  height: auto;
}

.feedback-master {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff81;
}

.feedback-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.feedback-person,
.slick-track {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 320px;
  justify-content: space-around;
  align-items: center;
}

.feedback-review {
  margin: 40px auto;
  max-width: 780px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}

.slider-wrapper {
  width: 170px;
  margin: 0 auto;
}

.slick-arrow,
.show-arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 10;
  border: none;
  border-top: 2px solid #7b788f;
  border-right: 2px solid #7b788f;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
}


.slick-slide img {
  margin: 0 auto;
}

.slick-prev {
  left: -35px;
  top: 14px;
  transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  top: 14px;
  transform: rotate(45deg);
}

.show-next {
  right: -30px;
  transform: rotate(45deg);
}

.slick-dots {
  display: none;
}

/*Clients*/

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.brand-item {
  width: 160px;
  text-align: center;
}

.clients {
  padding: 70px 0;
}

.form-input {
  display: block;
  padding: 0 20px;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  color: #333333;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}



.form-submit {
  display: inline-block;
  margin-top: 25px;
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #c2c1c4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

textarea.form-input {
  min-height: 200px;
  resize: none;
  width: 460px;
  padding: 20px;
}

.logo {
  width: 380px;
}

.news {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
}

.user-data {
  width: 460px;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
}

/*Footer*/

.about {
  width: 33.33%;
  padding: 0 10px;
}

.about-item {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.about-item:last-child {
  margin-right: 0;
}

.about-text {
  color: #ffffff;
  padding: 25px 0 80px 0;
}

.contacts {
  width: 34.37%;
  padding: 0 50px 0 10px;
}

.contacts-map {
  display: flex;
  padding: 40px 0 25px 0;
}

.contacts-map i {
  font-size: 18px;
  color: #ffffff;
  margin-right: 15px;
  margin-top: 4px;
}

.contacts-phone {
  display: flex;
}

.contacts-phone i {
  font-size: 18px;
  color: #ffffff;
  margin-right: 15px;
  margin-top: 2px;
}

.contacts-text {
  color: #ffffff; 
}

.footer {
  padding: 70px 0;
  width: 100%;
  background: url('../img/footer.jpg') no-repeat center;
  background-size: cover;
}

.footer-form {
  width: 295px;
  height: 45px;
}

.footer-title {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social {
  width: 32.30%;
  padding: 0 10px;
}

.social-author {
  color: #ffffff;
  text-align: right;
  margin-top: 58px;
  font-weight: 100;
}

.social-item {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  padding-top: 4px;
  margin-right: 8px;
  text-align: center;
}

.social-footer {
  margin: 40px 0 27px 0;
  display: flex;
}

.social-button {
  width: 70px;
  height: 45px;
  background-color: #ffffff6c;
  outline: none;
  border: none;
  margin-left: 10px;
}

.social-button i {
  font-size: 25px;
}


.social-message {
  width: 210px;
  height: 45px;
  background: none;
  border: 1px solid #ffffff7c;
  padding-left: 15px;
  color: #ffffff;
}

@media (max-width: 990px) {
  
  /*Expertise*/

  .expertise {
    padding: 0;
  }
  
  .expertise-title {
    margin-bottom: 25px;
  }

  .menu-content {
    padding: 30px 0;
  }

  /*Story*/

  .story {
    padding: 30px 0;
  }

  .story-text {
    padding-bottom: 20px;
  }

  .wrapper {
    margin-bottom: 30px;
  }

  /*Video*/

  .video {
    padding: 120px 0;
  }

  /*Team*/

 
  /*Our-works*/

  .our-works {
    padding: 35px 0;
  }

  .our-works_main {
    padding: 35px 0;
  }

  /*Feedback*/

  .feedback {
    padding: 35px 0;
  }

  .feedback-header {
    margin-bottom: 20px;
  }

  .feedback-review {
    margin: 25px auto;
  }

  /*Clients*/

  .clients {
    padding: 35px 0;
  }

  /*Footer*/

  .footer {
    padding: 35px 0;
  }
}

@media (max-width: 770px) {
  
    
  /*Nav*/

  .user_navigation {
    
    visibility: hidden;
    width: 100%;
    height: 215px;
    position: absolute;
    top: 90%;
    left: 0;
    display: block;
    background-color: #3a2e5e;
  }

  .list {
    display: block;
  }

  .list-item {
    margin-bottom: 10px;
  }

  .user_navigation.active {
    visibility: visible;
  }


  /*Nav-toggle*/

  .nav-toggle {
    display: block;
  }


  /*Team*/

  .team-list {
    justify-content: center;
  }

  .team-item {
    width: 100%;
    max-width: 250px;
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .team-name,
  .team-kind {
    font-size: 11px;
  }

  .team-person {
    height: 60px;
  }


  /*Clients*/

  .companies {
    width: 460px;
    margin: 35px auto 0;
  }

  .logo {
    width: 100%;
  }

  .user-data {
    margin: 0 auto;
  }

  .user-wrapper {
    flex-wrap: wrap;
  }
  
  .feedback-review {
    font-size: 12px;
  }

  /*Footer*/

  .footer-wrapper {
    justify-content: center;
    padding: 0 10px;
  }

  .about {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .about-text {
    padding: 25px 0;
  }

  .contacts {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .contacts-map {
    display: flex;
    padding: 10px 0;
  }

  .social {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .social-author {
    margin-top: 10px;
  }

  .social-footer {
    margin: 10px 0 20px;
  }
}

@media (max-width: 575px) {

  
  /*Intro*/

  .intro-text {
    margin: 60px 0 20px;
  }

  .intro-title {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  .intro-slider {
    margin-top: 0;
  }

  /*Story*/

  .intro-button {
    display: block;
    margin: 0 auto;
  }

  .intro-main-text::after {
    top: 120%;
    left: 43%;
  }

  .story-title {
    margin: 0;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
  }

  /*Expertise*/

  .expertise-title::after {
    left: 45%;
  }

  .menu-content {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }

  .menu-content:last-child {
    padding: 0;
  }

  .menu-item {
    margin-bottom: 20px;
    font-size: 14px;
  }

  /*Team*/

  .team-footer {
    margin-top: 0;
  }


  /*Our_works*/

  .our-works_list {
    flex-wrap: wrap;
  }

  .works-item {
    flex: none;
    width: 100%;
  }

  /*Clients*/
  
  .brand {
    margin-top: 0;
    display: block;
  }

  .brand-item {
    max-width: 100%;
    margin: 0 auto;
  }

  .brand-item img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .form-submit {
    display: block;
    margin: 25px auto 0;
  } 

  textarea.form-input {
    width: 100%;
  }

  .user-data {
    width: 100%;
  }

  /*Feedback*/

  .feedback-person {
    width: 100%;
  }

  .feedback-man_wrapper:first-child {
    display: none;
  }

  .slick-arrow {
    display: none;
  }

  /*Footer*/

  .footer-wrapper {
    padding: 0;
  }

  .social-item {
    margin-right: 6px;
  }
}